a{
  color: white;
  font-size: 19px;
  text-transform: uppercase;
  text-decoration: none;

}
a:hover{
  color: aqua;
}
.headTitle{
  font-size: 30px;
  display: flex;
  justify-content: center; 
  list-style-type: none;
}
li{
  list-style-type: none;
}